{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- Makes things more mobile friendly -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap modal forms w/ ajax -->
    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>

    {% block head %}
    {% endblock %}

    {% block title %}
    <title>Title</title>
    {% endblock %}

</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Navbar</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Venues</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Bookmarks</a>
                </li>
                {% block navitems %}
                {% endblock %}
                
            </ul>
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <form class="form-inline">
                <a href="/accounts/profile">
                <button class="btn btn-outline-success" type="button">Profile</button></a>
            </form>
        </div>

    </nav>
    {% block content %}

    {% endblock %}
</body>

</html>