{% extends 'accounts/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block head %}
<link rel="stylesheet" href="{% static 'accounts/style.css' %}" type="text/css">
<!-- {{ form.media }} -->
{% endblock %}
{% block title %}
<title>{{ profile.username }}'s profile</title>
{% endblock %}
{% block navitems %}
{% endblock %}
{% block content %}
<div class="container-fluid top_margin">
    <div class="row">
        <div class="col-md-4">
            <div class="text-center bot_margin">
                <img src="https://via.placeholder.com/200x200">
                <h2>Person's Name</h2>
                <a class="btn btn-primary btn-xs" href="#">Social</a>
                <a class="btn btn-primary btn-xs" href="#">Social</a>
                <a class="btn btn-primary btn-xs" href="#">Social</a>
            </div>
            <hr />
        </div>
        <div class="col-md-8">
            <p class="lead">BIOGRAPHY:
                {{ profile.bio }}
                <hr />
                <div class="reviewbox">
                	{% for review in reviews %}
                	<div class="review">
                    <img src="https://via.placeholder.com/100x100">
                    {{ review.text }}
                	</div>
                    {% endfor %}
                    {{ erf }}
                    {{ info }}
					
				</div>
                    <div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#eventModalCenter">
                            Add event review
                        </button>
                        <div class="modal fade bd-example-modal-lg" id="eventModalCenter" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <form method="post" enctype="multipart/form-data">
                                        <!--Header-->
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="eventModalLongTitle">Review an event you went to</h5>
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span>&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {% csrf_token %}
                                            {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                            {% endfor %}
                                            <!-- manual unrolling of the form looks a lot nicer -->
                                            <div class="form-group mb-3">
                                                <label>Event</label>
                                                {% render_field e_form.event class="form-control" %}
                                            </div>
                                            <div class="form-group mb-3">
                                                <label>Review</label>
                                                {% render_field e_form.text class="form-control" %}
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
                                            <button type="submit" class="btn btn-primary" name="eventForm">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#venueModalCenter">
                            Add venue review
                        </button>
                        <div class="modal fade bd-example-modal-lg" id="venueModalCenter" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <form method="post" enctype="multipart/form-data">
                                        <!--Header-->
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="venueModalLongTitle">Review a venue you've been to</h5>
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span>&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {% csrf_token %}
                                            {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                            {% endfor %}
                                            <!-- manual unrolling of the form looks a lot nicer -->
                                            <div class="form-group mb-3">
                                                <label>Venue</label>
                                                {% render_field v_form.venue class="form-control" %}
                                            </div>
                                            <div class="form-group mb-3">
                                                <label>Review</label>
                                                {% render_field v_form.text class="form-control" %}
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary" name="venueForm">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    {% endblock %}