{% extends 'layout.html'%}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- redirects after 3 seconds -->
    <script type="text/javascript">
        setTimeout(function() {
            window.location.href = "../../login/";
        }, 3000);
    </script>

	<!-- <link rel="stylesheet" href="{% static 'accounts/style.css' %}" type="text/css"> -->
    <meta charset="UTF-8">
    <title>Password reset</title>
    <style>
    .vertical_center {
 		min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  		min-height: 100vh;

  		display: flex;
  		align-items: center;
	}
	
</style>
</head>

<div class="container vertical_center">
	<div class="container offset-md-4">
		
	<h2>In case the email address was associated with an account, you will receive an email containing instructions shortly.</h2>
	<p>You will be redirected shortly...</p>
	</div>
</div>
{% endblock %}