{% extends 'layout.html'%}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% load static %}
{% block extrahead %}
<!-- redirects after 3 seconds -->
    <script type="text/javascript">
        setTimeout(function() {
            window.location.href = "accounts/profile/";
        }, 3000);
    </script>
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- <link rel="stylesheet" href="{% static 'accounts/style.css' %}" type="text/css"> -->
    <meta charset="UTF-8">
    <title>Change your password</title>
    <style>
    .vertical_center {
 		min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  		min-height: 100vh;

  		display: flex;
  		align-items: center;
	}
	
</style>
</head>

<div class="container vertical_center">
	<div class="container offset-md-4">
		<h3>Your password has succesfully been changed.</h3>
	<p>You should be redirected shortly...</p>
	</div>
</div>
{% endblock %}