{% extends 'layout.html'%}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- <link rel="stylesheet" href="{% static 'accounts/style.css' %}" type="text/css"> -->
    <meta charset="UTF-8">
    <title>Register</title>
    <style>
    .vertical_center {
 		min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  		min-height: 100vh;

  		display: flex;
  		align-items: center;
	}
	
</style>
</head>

<div class="container vertical_center">
	<div class="container offset-md-4">
		
	<h2>You have succesfully changed your password.</h2>
	<p>You will be redirected shortly...</p>
	</div>
</div>
{% endblock %}