<!DOCTYPE html>
<html lang="en">

{% extends 'layout.html'%}
{% load widget_tweaks %}
{% load bootstrap4 %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="padding-top: 50px">


<div style="width:100%; max-height:425px;">
    <img class="img-fluid" style="max-height:425px; width: 100%; object-fit:cover; object-position: 0 0;"
         src="https://www.abconcerts.be/images/events/header-large/robert.jpg">
</div>
<div class="container-fluid" style="padding-top: 10px">
    <h5 class="display-4">
        Robert Finley
        <!--<small class="text-muted">With faded secondary text</small>-->
    </h5>

    <div class="row">
        <div class="col-md-8">
            <p class="lead" style="font-size: 13pt">
                ROBERT FINLEY is een felle soul en blues veteraan, met zijn tweede cd 'Goin' Platinum' meteen uit als eerste release op het nieuwe label van Dan-Black Keys-Auerbach: Easy Eye Sound.
                En dat is des te opmerkelijk omdat deze Amerikaan uit Bernice Louisiana al de zestig voorbij is, bijna niet meer kan zien, en zichzelf muzikaal vormde 'by ear'.
                De gedreven gitarist en zanger kan alle muzikale registers aan, nu eens zalvend, dan weer forser (en dan weer falsetto).
                Niet verwonderlijk dat de heer Auerbach wilde meeschrijven en producen aan dat album en daarbij wist te melden: 'He’s a blues guitar player, but when he puts his guitar down, you could set him in front of an orchestra and he would sing just as good as Ray Charles on the first take.' 
            </p>
            <p class="h4">Previews</p>

            <iframe width="100%" height=350px src="https://www.youtube.com/embed/g5mcP5quiKI?ecver=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="100%" height=350px src="https://www.youtube.com/embed/g5mcP5quiKI?ecver=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="100%" height=350px src="https://www.youtube.com/embed/g5mcP5quiKI?ecver=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-4">
            <dl>
                <dt class="col-sm-3">Location:</dt>
                <dd class="col-sm-9">Ancienne Belgique</dd>

                <dt class="col-sm-3">Price:</dt>
                <dd class="col-sm-9">€ 32</dd>

                <dt class="col-sm-3">Artist(s):</dt>
                <dd class="col-sm-9">Robert Finley</dd>
                <dd class="col-sm-9">Another artist</dd>
                <dd class="col-sm-9">And another one</dd>

                <dt class="col-sm-3">Links:</dt>
                <dd class="col-sm-9">official website</dd>
                <dd class="col-sm-9">youtube.com</dd>
            </dl>
        </div>

    </div>

</div>


</body>
</html>

{% endblock %}