<!DOCTYPE html>
<html lang="en">
{% extends 'layout.html'%}

{% block content %}

<body>
<div class="jumbotron" style="padding-top: 100px">
    <h1 class="display-4">Title or something</h1>
    <p class="lead">Slogan. Or put a carousel with random upcoming events here</p>
</div>

<div class="container">
    <div class="input-group">
        <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Filter functionality (this is only a placeholder)">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapsibleFilter">Filter</button>
            <button class="btn btn-outline-secondary" type="button">Search</button>
        </div>
    </div>
</div>
<br>
<div class="container collapse" id="collapsibleFilter">
    <form class="needs-validation form-group" novalidate>
        <div class="form-row">
            <div class="col-md-6 input-group mb-2">
                <!--<label for="validationTooltip03">Genres</label>-->
                <div class="input-group-prepend">
                    <div class="input-group-text" style="width:80px">Genres</div>
                </div>
                <input type="text" class="form-control" id="validationTooltip02">
                <div class="invalid-tooltip">
                    Please provide a valid city.
                </div>
            </div>
            <div class="col-md-6 input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text" style="width:60px">Date</div>
                </div>
                <input type="date" name="date" max="3000-12-31"
                       min="2000-01-01" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text" style="width:80px">City</div>
                </div>
                <input type="text" class="form-control" id="validationTooltip03">
                <div class="invalid-tooltip">
                    Please provide a valid city.
                </div>
            </div>
            <div class="col-md-6 input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text" style="width:60px">Zip</div>
                </div>
                <input type="text" class="form-control" id="validationTooltip05">
                <div class="invalid-tooltip">
                    Please provide a valid zip.
                </div>
            </div>
        </div>
    </form>
</div>



<div class="container">
    {% for row in search_results %}
    <div class="row">
        {% for result in row %}
        <div class="col-sm-6">
            <div class="card">
                <img class="card-img-top" style="height: 230px; object-fit: cover"
                     src="https://www.abconcerts.be/images/events/header-large/181127kikagaku-moyokm-pre.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Event title</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2 btn-group-sm" role="group" aria-label="First group">
                            <button type="button" class="btn btn-info">Jazz</button>
                            <button type="button" class="btn btn-info">Rock</button>
                            <button type="button" class="btn btn-info">Blues</button>
                        </div>
                        <div class="btn-group mr-2 btn-group-sm " role="group" aria-label="Second group">
                            <button type="button" class="btn btn-secondary">B</button>
                            <button type="button" class="btn btn-secondary">Map</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>



</body>


{% endblock %}